<% if user_signed_in? %>
    <% if current_user.email != "kpahawa@gmail.com" %>
        <div class="projectWrapper">
          <div class="project_main">
            <div class="inner">
              <h1 style="text-align:center;" class="temp_error"> Restricted Access </h1>
              <h1 style="text-align:center;" class="temp_error"> Looks like you tried to access a restricted page...</h1>
              <div class="container" style="text-align: center;">
                <div class="ui massive green button" onclick="window.location.href='/'" class="temp_error">Take me back to the home page</div>
              </div>
            </div>
          </div>
        </div>

    <% else %>

        <h1>Editing article</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @article %> |
        <%= link_to 'Back', articles_path %> |
        <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% else %>
    <div class="projectWrapper">
      <div class="project_main">
        <div class="inner">
          <h1 style="text-align:center;" class="temp_error"> Restricted Access </h1>
          <h1 style="text-align:center;" class="temp_error"> Looks like you tried to access a restricted page...</h1>
          <div class="container" style="text-align: center;">
            <div class="ui massive green button" onclick="window.location.href='/'" class="temp_error">Take me back to the home page</div>
          </div>
        </div>
      </div>
    </div>
<% end %>