<div class="resume_mobile_container">
  <button class="ui icon button" id="resume_hideshow_button" onclick="hideShowButtons()">
    <i class="icon large plus square oultline"></i>
  </button>

  <ul class="icons" id="resume_topbar_options">
    <li class="home-button">
      <div class="ui red huge button" onclick="window.location.href='/'" style="width: 100%; height: 100%;">
        Home
      </div>
    </li>

    <li class="home-button">
      <div class="ui huge black button" onclick="window.location.href='/articles'" style="width: 100%; height: 100%;">
        Articles
      </div>
    </li>

    <li class="home-button">
      <div class="ui huge green button" onclick="window.location.href='/pictures'" style="width: 100%; height: 100%;">
        Pictures
      </div>
    </li>
    <li class="home-button">
      <div class="ui purple huge button" onclick="window.location.href='/contact'" style="width: 100%; height: 100%;">
        Contact
      </div>
    </li>
    <li class="home-button">
      <div class="ui orange huge button" onclick="window.location.href='/projects'" style="width: 100%; height: 100%;">
        Projects
      </div>
    </li>
  </ul>
</div>

<div class="terminal_screen_bg">
  <div id="main">
    <div id="inner" style="margin-bottom: 2rem;">
        <ul id="buttons01" style="text-align: center">
            <li><button class="ui  red button large" onclick="window.location.href=('/')">Home</button></li>
            <li><button class="ui black button large" onclick="window.location.href=('/contact')">Contact</button></li>
            <li><button class="ui green button large" onclick="window.location.href=('/articles')">Blog</button></li>
            <li><button class="ui purple button large" onclick="window.location.href=('/pictures')">Pictures</button></li>
            <li><button class="ui orange button large" onclick="window.location.href=('/projects')">Projects</button></li>
        </ul>
      <hr>
        <div>
            <h3> My resume is in the terminal below! If you don't want to mess around with the terminal, click
              <span> <div class="ui button blue" onclick="window.location.href='/assets/Karan Pahawa Resume.pdf'"> here </div> </span> to get my resume as a PDF</h3>
            <h3> To see how to use the terminal, simply type in "help" and click enter!</h3>
            <h4>If the screen is cluttered, type in "clear". <span style="font-style: oblique; color: maroon;">Note, if the screen is too cluttered, the terminal will clear itself</span></h4>
        </div>
        <div class="container" id="terminalContainer">
          <div id="term_demo" class="terminal" scrolltop="0" style="height:200px"></div>
        </div>
      </div>
    </div>
  </div>
<script>
    var Idhasoft = "<h3 id='termHeader' style='color: darkgoldenrod !important;'>Idhasoft <span style = 'font-size:15px;color:green !important;'> &nbsp- Supply Chain Analyst </span></h3>" +
            "<h4 id='termHeader'>Atlanta, GA - Spring 2013 to Fall 2013</h4>" +
            "<ul style = 'text-align:left'><li>Analyze data given by clients using various statistical tools and submit recommendations based on analysis</li>" +
            "<li>Write and edit sales scripts and contact potential clients informing them about Idhasoft’s business sectors</li>"+
            "<li>Create auxiliary programs in Python, Ruby, Java and SQL to aid the company’s daily operations</li></ul>";

    var GTTA = "<h3 id='termHeader' style='color: darkgoldenrod !important;'>The Georgia Tech College of Computing <span style = 'font-size:15px;color:green !important;'> &nbsp- Teaching Assistant </span></h3>" +
            "<h4 id='termHeader'>Atlanta, GA - Fall 2014 to Summer 2015</h4>" +
            "<ul style = 'text-align:left'><li>Teach computing principles to students in the CS 1301 python class</li>" +
            "<li>Organize and run lectures and seminars for the students</li>"+
            "<li>Keep up to date with relevant news in the computing world</li></ul>";

    var PL = "<h3 id='termHeader' style='color: darkgoldenrod !important;'>Georgia Tech Housing <span style = 'font-size:15px;color:green !important;'> &nbsp- Peer Leader (Freshman Resident Adviser) </span></h3>" +
            "<h4 id='termHeader'>Atlanta, GA - Spring 2012 to Spring 2015</h4>" +
            "<ul style = 'text-align:left'><li>Develop projects with learning outcomes for freshmen</li>" +
            "<li>Assist and mentor freshmen with any problems they may have</li>"+
            "<li>Maintain student integrity by imposing residence hall rules and regulations in the dorms</li></ul>";

    var Amex = "<h3 id='termHeader' style='color: darkgoldenrod !important;'>American Express <span style = 'font-size:15px;color:green !important;'> &nbsp- Digital Insights Products Intern </span></h3>" +
            "<h4 id='termHeader'>Phoenix, AZ - Summer 2014</h4>" +
            "<ul style = 'text-align:left'><li>Create algorithms and working prototypes to assist in product development</li>" +
            "<li>Contribute to the research for social media integration and Google API integration</li>"+
            "<li>Work with American Express engineers to aid prototype development, research and more</li></ul>";

    var Rakuten = "<h3 id='termHeader' style='color: darkgoldenrod !important;'>Rakuten Inc<span style = 'font-size:15px; color:green !important;'> &nbsp- Software Engineering Intern </span></h3>" +
            "<h4 id='termHeader'>Tokyo, JP - Fall 2015</h4>" +
            "<ul style = 'text-align:left'><li>Worked as a developer on the 'Rakuten Room' application team</li>" +
            "<li>Developed components of both the Android and iOS application</li></ul>";

    var Deloitte = "<h3 id='termHeader' style='color: darkgoldenrod !important;'>Deloitte Consulting" +
            "<span style = 'font-size:15px; color:green !important;'> &nbsp- Business Technology Analyst </span></h3>" +
            "<h4 id='termHeader'>Washington D.C - Spring 2016 - Present</h4>" +
            "<ul style = 'text-align:left'><li>Develop and maintain a proprietary backend Java framework for our clients</li>" +
            "<li>Created custom web application in Angular 2 and Spring MVC for our clients to auto-generate code</li>" +
            "<li>Assist deployed client teams with code reviews, framework debugging and custom feature development</li>" +
            "<li>Gained certification from CMU’s Software Engineering Institute as a Software Architect </li></ul>";
    ////////Everything else ////////////
    var lines = "<h4 style='text-align:left;' id='termLineBreak'>---------------------------------</h4>";
    var skills = "<h3 style='text-align: left;' id='termHeader'>Skills: " +
            "<span style='color:green;font-size:15px;'>Python, Ruby, Java, SQL, Ruby on Rails, Android, MS Office, Python + Django, C </span> </h3>";

    var edu = "<h3 id='termHeader' >Georgia Institute of Technology - Atlanta, GA</h3>"+
                "<h3 id='termHeader' style='margin-top: -.5em;'>Major: Indusrial Engineering  </h3>" +
                "<h4 id='termHeader' style='margin-top: -.3em; margin-bottom: .5em;'>December 2015  || <span style='color:lightblue;'>Highest Honors </span> </h4>";

    var accomplishment = "<h3 id='termHeader' style='color:darkgoldenrod !important;'> Accomplishments ( list only, with [.d] for details )</h3>" +
            "<ul style='text-align: left;'><li>GA Tech IMPACT Scholarship Recipient</li>"+
            "<li>Institute of Industrial Engineering - Academic Award Finalist></li>"+
            "<li>Accenture Case Competition Semi-finalist</li>" +
            "<li>Scholar of Promise Award</li>"+
            "<li>President's Volunteer Service Award</li></ul>";

    var accomplishmentDetail = "<table id='cmdTable'>"+
                    "<tr id='cmdTable'><td id='cmdCol1'>GA Tech Impact Scholarship Recipient</td>" +
            "<td id='cmdCol2'> The Impact Scholarship is given to students who demonstrate " +
            "initiative and achievement in serving and aiding Georgia Tech and the Atlanta community. I was awarded the " +
            "scholarsip becuase of my involvement with the organization TRUST at GT which mentors inner city children</td></tr>" +

            "<tr id='cmdTable'><td id='cmdCol1'>Institute of Industrial Engineering - Academic Award Finalist</td>" +
            "<td id='cmdCol2'> The academic award is given to students who demonstrate excellence in the classroom as well as in the IE community.</td></tr> "+

            "<tr id='cmdTable'><td id='cmdCol1'>Accenture Case Competition Semi-finalist</td>" +
            "<td id='cmdCol2'> The Accenture case competition was held on the Georgia Tech's campus in 2013 and my team was one of the three teams out of all who" +
            "participated to give our case in the next round. After wich we were awarded the semi-finalist position</td></tr> "+

            "<tr id='cmdTable'><td id='cmdCol1'>Scholar of Promise Award</td>" +
            "<td id='cmdCol2'> This award is given to those who excel in the classroom as well as serve their community. I am humbled and was given the award for my work with my organization TRUST at GT (we mentor" +
            " inner city chidlren in the Atlanta community) </td></tr> "+

            "<tr id='cmdTable'><td id='cmdCol1'>President's Volunteer Service Award</td>" +
            "<td id='cmdCol2'> This award is given to those who serve their community." +
            "The award is based on number of community service hours and the work that one does in the community. </td></tr> ";
    var contact = "<h2 id='termHeader' style='color:purple !important;'> Contact Information</h2>" +
                "<h4 id='termHeader' style='color:crimson !important;'> email : <span style='color:green !important;'>kpahawa@gmail.com </span> </h4>" +
                "<h4 id='termHeader' style='color:crimson !important;'> phone : <span style='color:green !important;'>571-212-1130</span></h4>";

    var temp = "<h2 id='termHeader' style = 'color:purple !important;'> Work and Leadership Experience </h2>";
    var eduHeader = "<h2 id='termHeader' style = 'color:purple !important;'> Education </h2>";
    var work = temp + Deloitte + lines +  Rakuten + lines + GTTA + lines + Amex + lines + Idhasoft + lines + PL ;
    jQuery(function($, undefined) {
        $('#term_demo').terminal(function(command, term) {
            if (command.toLowerCase() == "about") {
                term.echo("This terminal is sitting on top of a jquery terminal source under the MIT open source license. I did not make the");
                term.echo("terminal source, I simply customized it to recognize my own API.");
                term.echo('');
            }
            else if (command.toLowerCase() == "help") {
                term.echo("about -- tells you about the terminal"); term.echo('');
                term.echo("resume -- prints the entire resume"); term.echo('');
                term.echo("experience -- prints out every recent company I have worked at"); term.echo('');
                term.echo("accomplishments.[d , l] -- d for detail, l for list of accomplishments");
                term.echo('');
                term.echo("skills -- prints all my relevant skills and technical abilities");
                term.echo('');
                term.echo("edu -- prints out my educational background");
                term.echo('');
                term.echo("contact -- prints out my contact information so you can get in touch with me!");
                term.echo('');
                term.echo("clear -- This will clear the terminal!");
            }
            else if (command.toLowerCase() == "resume") {
                term.echo("");
                var x = document.getElementsByClassName("terminal-output")[0];
                var z = x.innerHTML;
                x.innerHTML = z + eduHeader + edu + accomplishment + work + lines + skills + contact;
            }
            else if (command.toLowerCase() == "experience") {
                term.echo("");
                x = document.getElementsByClassName("terminal-output")[0];
                z = x.innerHTML;
                x.innerHTML = z + work;
            }
            else if (command.toLowerCase() == "skills") {
                x = document.getElementsByClassName("terminal-output")[0];
                z = x.innerHTML;
                x.innerHTML = z + skills;
            }
            else if (command.toLowerCase() == "accomplishments.l") {
                x = document.getElementsByClassName("terminal-output")[0];
                z = x.innerHTML;
                x.innerHTML = z + accomplishment;
            }
            else if (command.toLowerCase() == "accomplishments.d") {
                x = document.getElementsByClassName("terminal-output")[0];
                z = x.innerHTML;
                x.innerHTML = z + accomplishmentDetail+ "</table>";
            }
            else if (command.toLowerCase() == "contact") {
                x = document.getElementsByClassName("terminal-output")[0];
                z = x.innerHTML;
                x.innerHTML = z + contact;
            }
            else if (command.toLowerCase() == "edu") {
                x = document.getElementsByClassName("terminal-output")[0];
                z = x.innerHTML;
                x.innerHTML = z + eduHeader + edu;
            }
            else if (command !== '') {
                try {
                    var result = window.eval(command);
                    if (result !== undefined) {
                        term.echo(new String(result));
                    }
                } catch(e) {
                    term.error("Sorry, that command is not recognized");
                }
            } else {
                term.echo('');

            }
        }, {
            greetings: 'My Command Prompt',
            name: 'js_demo',
            height: 2000,
            prompt: '$> '});
    });

    function hideShowButtons() {
        $("#resume_topbar_options").toggle(function() {
            $('#resume_topbar_options').animate({top: 0})
        }, function() {
            $('#resume_topbar_options').animate({top: 100})
        })
    }
</script>