<div class="resume">
  <div class="resumeHeader">
    <h1 style="margin-bottom: -.7em;">Karan Pahawa</h1>
    <h3>330534 Georgia Tech Station &#8226; Atlanta, GA 30332-1330</h3>
  </div>

  <div class="education" id="resumeMainBody">
    <div class = "ui top attached button" id="resumeButton" onclick="hideOrShow(this)"> Education </div>
    <div class="ui two column grid" id="resumeGrid1" >
      <div class="column">
        <h3>Georgia Institute of Technology - <span style="font-size: small;margin-left:1.5em;">Atlanta, GA </span></h3>
        <ul id="accomplishmentsList">
          <li><h4>GA Tech IMPACT Scholarship Recipient</h4></li>
          <li><h4>Institute of Industrial Engineering - Academic Award Finalist</h4></li>
          <li><h4>Accenture Case Competition Semi-finalist</h4></li>
          <li><h4>Scholar of Promise Award</h4></li>
          <li><h4>President's Volunteer Service Award</h4></li>
        </ul>
      </div>
      <div class="column">
        <h3 style="margin-right: 5em;">Major: Industrial Engineering</h3>
      </div>
    </div>
    <br>
    <div class = "ui top attached button" id="resumeButton2" onclick="hideOrShow(this)"> Work and Leadership Experience </div>
    <div class="resumeGridContainer">
      <div class="ui two column grid" id="resumeGrid2" >
        <div class="column">
          <h3 id="subjHeader">The Georgia Tech College of Computing </h3><span style="margin-right: 14em;font-style: italic">Teaching Assistant </span>
          <ul id="accomplishmentsList">
            <li><h4>Teach computing principles to students in the CS 1301 python class</h4></li>
            <li><h4>Organize and run lectures and seminars for the students</h4></li>
            <li><h4>Keep up to date with relevant news in the computing world</h4></li>
          </ul>
        </div>
        <div class="column">
          <h3 id="subjHeader">Atlanta, GA</h3><span style="font-style: italic; margin-right: 16.5em;">Fall 2014 - Present</span>
        </div>
      </div>
      <div class="ui two column grid" id="resumeGrid2" >
        <div class="column">
          <h3 id="subjHeader">American Express</h3><span style="margin-right: 14em;font-style: italic; margin-left: 5em;">Digital Insights Products Intern </span>
          <ul id="accomplishmentsList">
            <li><h4>Create algorithms and working prototypes to assist in product development </h4></li>
            <li><h4>Contribute to the research for social media integration and Google API integration</h4></li>
            <li><h4>Work with American Express engineers to aid prototype development, research and more</h4></li>
          </ul>
        </div>
        <div class="column">
          <h3 id="subjHeader">Phoenix, AZ</h3><span style="font-style: italic; margin-right: 16.5em;">Summer 2014</span>
        </div>
      </div>
      <div class="ui two column grid" id="resumeGrid2" >
        <div class="column">
          <h3 id="subjHeader">Idhasoft</h3><span style="margin-right: 14em;font-style: italic">Supply Chain Analyst </span>
          <ul id="accomplishmentsList">
            <li><h4>Analyze data given by clients using various statistical tools and submit recommendations based on analysis </h4></li>
            <li><h4>Write and edit sales scripts and contact potential clients informing them about Idhasoft’s business sectors</h4></li>
            <li><h4>Create auxiliary programs in Python, Ruby, Java and SQL to aid the company’s daily operations</h4></li>
          </ul>
        </div>
        <div class="column">
          <h3 id="subjHeader">Atlanta, GA</h3><span style="font-style: italic;margin-right: 16.5em;">Spring 2013 - Fall 2013</span>
        </div>
      </div>
      <div class="ui two column grid" id="resumeGrid2"  >
        <div class="column">
          <h3 id="subjHeader">GA Tech Student Alumni Association</h3><span style="margin-right: 14em;font-style: italic">Dinner Jackets Chair</span>
          <ul id="accomplishmentsList">
            <li><h4>Arrange and maintain interaction between interested alumni hosts and student volunteers</h4></li>
            <li><h4>Conduct and arrange meetings with dinner jacket volunteers to ensure smooth transition before and after the dinner events</h4></li>
          </ul>
        </div>
        <div class="column">
          <h3 id="subjHeader">Atlanta, GA</h3><span style="font-style: italic;margin-right: 16.5em;">Spring 2013 - Present</span>
        </div>
      </div>
      <div class="ui two column grid" id="resumeGrid2"  >
        <div class="column">
          <h3 id="subjHeader">Residence Life</h3><span style="margin-right: 6em;font-style: italic">Peer Leader (Freshman Resident Adviser)</span>
          <ul id="accomplishmentsList">
            <li><h4>Develop projects with learning outcomes for freshmen</h4></li>
            <li><h4>Assist and mentor freshmen with any problems they may have</h4></li>
            <li><h4>Maintain student integrity by imposing residence hall rules and regulations in the dorms</h4></li>
          </ul>
        </div>
        <div class="column">
          <h3 id="subjHeader">Atlanta, GA</h3><span style="font-style: italic;margin-right: 16.5em;">Spring 2012 - Spring 2015</span>
        </div>
      </div>
      <div class="ui two column grid" id="resumeGrid2"  >
        <div class="column">
          <h3 id="subjHeader" style = "margin-left: 15.5em">TRUST at GT (Teaching and Readying Underprivileged Students for Tomorrow)</h3><span style="margin-right: 17em;font-style: italic">Founder and President</span>
          <ul id="accomplishmentsList" style="margin-left: 22em;">
            <li><h4>Responsible for conducting club meetings as well as developing community contacts for the club</h4></li>
            <li><h4>Raised funds and awareness for the cause through formal presentations to business leaders</h4></li>
          </ul>
        </div>
        <div class="column">
          <h3 id="subjHeader" style="margin-left: 15.5em">Atlanta, GA</h3><span style="font-style: italic;margin-right: 21em;">Fall 2011 - Spring 2015</span>
        </div>
      </div>
  </div>
  <div class="skills">
    <h3 style="text-align: left; margin-left: 16em;">Skills: <span style="font-style: italic;">Python, Ruby, Java, SQL, Ruby on Rails, Android, MS Office, Python + Django, C </span> </h3>
  </div>
</div>
</div>
<script>
  function hideOrShow(arg) {
    var name = arg.innerHTML;
    name = name.trim();
    if (name == "Education") {
        var x = document.getElementById("resumeGrid1");
        if (x.style.display == "none") {
          x.style.display = "initial";
          document.getElementById("resumeButton2").style.marginTop = "10em"
        }
        else {
          x.style.display = "none";
          document.getElementById("resumeButton2").style.marginTop = "0em"
        }
      }

    else if (name == "Work and Leadership Experience") {
        x = document.getElementsByClassName("resumeGridContainer");
        for (var i = 0 ; i < x.length ; i++) {
            var child = x[i];
            if (child.style.display == "none") child.style.display = "initial";
            else child.style.display = "none";
        }
      }
  }
</script>