<h1 style="text-align:center;"> Restricted Access </h1>

<div class="ui two column grid" style="margin-bottom:5em;">
  <div class="column" style="width:70% !important; margin-left:10em !important;">
    <div id="restrictedImage">
        <div><p style="font-size:large; margin-top:7em; margin-left:5em;">Trying to hack </p></div>
        <div><p style="font-size:large; margin-top:8em; margin-left:10em;">You can't type </p></div>
        <div id="overlap"><p style="font-size:large; color:black;">Restricted Access</p></div>
    </div>
  </div>
  <div class="column" style="margin-left:-38em;">
    <h3> Looks like you tried to access a restricted page...</h3>
    <div class="ui inverted green button" onclick="window.location.href='/'">Take me back to the home page</div>
  </div>
</div>