<div class="main_contact">
  <div id="inner" style="margin-bottom: 2rem;">
    <ul id="buttons01" style="text-align: center">
      <li><button class="ui  red button large" onclick="window.location.href=('/')">Home</button></li>
      <li><button class="ui black button large" onclick="window.location.href=('/resume')">Resume</button></li>
      <li><button class="ui green button large" onclick="window.location.href=('/articles')">Blog</button></li>
      <li><button class="ui orange button large" onclick="window.location.href=('/projects')">Projects</button></li>
    </ul>
    <div class="container">
      <h1>Thank you for your message!</h1>
    </div>
  </div>
</div>
